root{
    --graph-width : 1000px;
    --graph-height : 800px;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    position: relative;
}

tspan{
    fill: black; 
}

text{
    fill:black;
}

#tooltip{
    position: absolute;
    display: inline-block;
    background-color: black;
    opacity: .8;
    color: white;
}

#tooltip p{
    padding: 0 20px;
    margin: 5px;
}